<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/icomoon/style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/stylesheets/bootstrap-3.0.0/dist/js/bootstrap.min.js"></script>
    {{!-- // <script src="/javascripts/main.js"></script> --}}

    {{!-- components --}}
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>

    {{!-- controller --}}
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers/home.js"></script>

    {{!-- service --}}

    {{!-- directive --}}
    
    {{!-- filter --}}

  </head>
  <body ng-app="angularApp" id="ng-app">
    
      {{{ body }}}
  
  </body>
