/*font face*/
@font-face {
  font-family: 'RSURegular';
  src: url('font/rsu_regular-webfont.eot');
  src: url('font/rsu_regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/rsu_regular-webfont.woff') format('woff'), url('font/rsu_regular-webfont.ttf') format('truetype'), url('font/rsu_regular-webfont.svg#RSURegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RSULight';
  src: url('font/rsu_light-webfont.eot');
  src: url('font/rsu_light-webfont.eot?#iefix') format('embedded-opentype'), url('font/rsu_light-webfont.woff') format('woff'), url('font/rsu_light-webfont.ttf') format('truetype'), url('font/rsu_light-webfont.svg#RSULight') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#map {
  position: relative;
}
#map-canvas,
#pano,
#map-canvas-roadmap {
  position: absolute;
  /*top: 0;
	left: 0;*/

  width: 100%;
  height: 100%;
}
#rating-actions {
  margin-top: 2em;
  text-align: center;
}
#rating-actions button {
  font-size: 3em;
  line-height: 3em;
  padding-left: 2em;
  padding-right: 2em;
  margin-right: 20px;
  margin-left: 20px;
}
.text-muted {
  float: left;
  margin-right: 1em;
}
/*Header*/
.header {
  z-index: 999;
  width: 100%;
  padding: 0 0 .5em;
  border-bottom: 1px solid #E5E5E5;
}
.header .container {
  background: rgba(255, 255, 255, 0.75);
}
h1 {
  font-size: 3.3em;
  /*  font-family: 'Crafty Girls', cursive;*/

  /*  font-family: 'Raleway', sans-serif;*/

  /*font-family: 'Lato', sans-serif;*/

  font-family: 'Oleo Script', cursive;
  color: #092947 !important;
}
.nav {
  margin-top: 2em;
}
.nav-pills > li {
  float: none;
  margin-bottom: 1em;
  text-decoration: none;
  background-color: #eee;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.nav-pills > li:last-child {
  margin-bottom: 0;
}
.ce-menu {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 130px;
  padding: .6em;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  z-index: 999;
}
.footer {
  margin-top: 3em;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #E5E5E5;
}
.menu-title {
  font-size: 30px;
  color: #333;
  border-color: #000;
  top: 20px;
  right: 15px;
  position: absolute;
  border-radius: 5px;
  padding: 0px 2px;
  z-index: 1;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-title.hover {
  color: #aaa;
  cursor: pointer;
}
.menu-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  opacity: 1;
  padding: 1.5em;
  background-color: #333;
  /* button close */

  /* When hiding an element */

  /* When showing an element */

}
.menu-list .menu-text-title {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Oleo Script', cursive;
  border-bottom: 1px dotted #fff;
}
.menu-list .slider-menu {
  padding-top: 1em;
}
.menu-list ul {
  padding: 0;
}
.menu-list li {
  margin-bottom: 1em;
  list-style: none;
}
.menu-list li a {
  color: #fff;
}
.menu-list li a:hover {
  color: #aaa;
  text-decoration: none;
}
.menu-list li.active {
  padding: .5em;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.menu-list li.active a {
  color: #00B7FF;
}
.menu-list .close {
  font-size: 0.8em;
  color: #fff;
  opacity: 1;
}
.menu-list.ng-hide-add {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.menu-list.ng-hide-add.ng-hide-add-active {
  right: -200px;
}
.menu-list.ng-hide-remove {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  right: -200px;
  /* this needs to be here to make it visible during the animation
       since the .ng-hide class is already on the element rendering
       it as hidden. */

  display: block!important;
}
.menu-list.ng-hide-remove.ng-hide-remove-active {
  right: 0px;
}
.view-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.view-wrapper.slide {
  position: absolute;
  top: 0px;
  left: -200px;
  width: 100%;
  height: 100%;
}
#good,
#soso,
#bad {
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-left: 10px;
  font-size: 2em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.btn {
  padding: 5px 10px;
}
#rating-actions {
  margin: 3em 0 1em;
  display: inline-block;
}
#rating-actions a {
  margin-right: 2em;
}
#rating-actions a:last-child {
  margin: 0;
}
.question {
  font-size: 1.75em;
  margin: 0;
  font-family: RSULight;
}
.point {
  top: 8em;
  right: 12em;
  z-index: 999;
  background: #fff;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}
.hug {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 330px;
  height: 240px;
  font-size: 1.4em;
  background: #fff;
  padding: 2em;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.hug #good {
  width: 120px;
  height: 120px;
  padding: 8px;
  font-size: 4em;
  margin-top: 25px;
  cursor: default;
}
.hug #good:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.road-map.ng-hide-add,
.pano-map.ng-hide-add {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
}
.road-map.ng-hide-add.ng-hide-add-active,
.pano-map.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .text-muted {
    float: none;
    text-align: center;
  }
  #rating-actions {
    margin: 1em 0 1em;
  }
  .point {
    text-align: center;
  }
}
@media (max-width: 530px) {
  #rating-actions {
    display: block;
    margin-bottom: 2em;
  }
  .point {
    padding-bottom: 0.5em;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
