@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-newspaper, .icon-grin, .icon-smiley, .icon-smiley-2, .icon-tongue, .icon-tongue-2, .icon-sad, .icon-wink, .icon-wink-2, .icon-sad-2, .icon-cool, .icon-cool-2, .icon-angry, .icon-angry-2, .icon-grin-2, .icon-evil, .icon-evil-2, .icon-shocked, .icon-happy, .icon-happy-2, .icon-shocked-2, .icon-confused, .icon-neutral, .icon-confused-2, .icon-neutral-2, .icon-wondering, .icon-wondering-2 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-newspaper:before {
	content: "\e000";
}
.icon-grin:before {
	content: "\e001";
}
.icon-smiley:before {
	content: "\e002";
}
.icon-smiley-2:before {
	content: "\e003";
}
.icon-tongue:before {
	content: "\e004";
}
.icon-tongue-2:before {
	content: "\e005";
}
.icon-sad:before {
	content: "\e006";
}
.icon-wink:before {
	content: "\e007";
}
.icon-wink-2:before {
	content: "\e008";
}
.icon-sad-2:before {
	content: "\e009";
}
.icon-cool:before {
	content: "\e00a";
}
.icon-cool-2:before {
	content: "\e00b";
}
.icon-angry:before {
	content: "\e00c";
}
.icon-angry-2:before {
	content: "\e00d";
}
.icon-grin-2:before {
	content: "\e00e";
}
.icon-evil:before {
	content: "\e00f";
}
.icon-evil-2:before {
	content: "\e010";
}
.icon-shocked:before {
	content: "\e011";
}
.icon-happy:before {
	content: "\e012";
}
.icon-happy-2:before {
	content: "\e013";
}
.icon-shocked-2:before {
	content: "\e014";
}
.icon-confused:before {
	content: "\e015";
}
.icon-neutral:before {
	content: "\e016";
}
.icon-confused-2:before {
	content: "\e017";
}
.icon-neutral-2:before {
	content: "\e018";
}
.icon-wondering:before {
	content: "\e019";
}
.icon-wondering-2:before {
	content: "\e01a";
}
